<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mangmacs">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true">
        <activity android:name=".activities.AdressList"
            android:screenOrientation="portrait"
            android:theme="@style/HomeTheme" />
        <activity
            android:name=".PickUpPayment"
            android:screenOrientation="portrait"
            android:theme="@style/HomeTheme" />
        <activity
            android:name=".activities.OrderActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HomeTheme" />
        <activity
            android:name=".activities.PickUpActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HomeTheme" />
        <activity
            android:name=".activities.DineInActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HomeTheme" />
        <activity
            android:name=".activities.CheckAddressActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HomeTheme" />
        <activity
            android:name=".activities.OrderModeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HomeTheme" />
        <activity
            android:name=".activities.PaymentActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HomeTheme" />
        <activity
            android:name=".activities.EditAddressActivity"
            android:label="Payment"
            android:parentActivityName=".activities.AccountActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActionBarTheme" />
        <activity
            android:name=".activities.VerifyEmailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MainTheme" />
        <activity
            android:name=".activities.ResetPasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MainTheme" />
        <activity
            android:name=".activities.VerificationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MainTheme" />
        <activity
            android:name=".activities.ForgotPasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MainTheme" />
        <activity
            android:name=".activities.MyReservationActivity"
            android:label="My Book"
            android:parentActivityName=".activities.AccountActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActionBarTheme" />
        <activity
            android:name=".activities.MyOrdersActivity"
            android:label="My Orders"
            android:parentActivityName=".activities.AccountActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActionBarTheme" />
        <activity
            android:name=".activities.CreateAddressActivity"
            android:label="Address"
            android:parentActivityName=".activities.MyAddressActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActionBarTheme" />
        <activity
            android:name=".activities.ConfirmReservationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HomeTheme" />
        <activity
            android:name=".activities.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MainTheme" />
        <activity
            android:name=".activities.BilaoListDetail"
            android:screenOrientation="portrait"
            android:theme="@style/HomeTheme" />
        <activity
            android:name=".activities.DrinksListDetail"
            android:screenOrientation="portrait"
            android:theme="@style/HomeTheme" />
        <activity
            android:name=".activities.DimsumListDetail"
            android:screenOrientation="portrait"
            android:theme="@style/HomeTheme" />
        <activity
            android:name=".activities.PastaListDetail"
            android:screenOrientation="portrait"
            android:theme="@style/HomeTheme" />
        <activity
            android:name=".activities.NoodlesListDetail"
            android:screenOrientation="portrait"
            android:theme="@style/HomeTheme" />
        <activity
            android:name=".activities.PancitListDetail"
            android:screenOrientation="portrait"
            android:theme="@style/HomeTheme" />
        <activity
            android:name=".activities.RiceListDetail"
            android:screenOrientation="portrait"
            android:theme="@style/HomeTheme" />
        <activity
            android:name=".activities.SoupListDetail"
            android:screenOrientation="portrait"
            android:theme="@style/HomeTheme" />
        <activity
            android:name=".activities.SeafoodsListDetail"
            android:screenOrientation="portrait"
            android:theme="@style/HomeTheme" />
        <activity
            android:name=".activities.MealsGoodListDetail"
            android:screenOrientation="portrait"
            android:theme="@style/HomeTheme" />
        <activity
            android:name=".activities.ComboBudgetListDetail"
            android:screenOrientation="portrait"
            android:theme="@style/HomeTheme" />
        <activity
            android:name=".activities.RiceMealListDetail"
            android:screenOrientation="portrait"
            android:theme="@style/HomeTheme" />
        <activity
            android:name=".activities.NoodlesActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HomeTheme" />
        <activity
            android:name=".activities.DrinksActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HomeTheme" />
        <activity
            android:name=".activities.DimsumActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HomeTheme" />
        <activity
            android:name=".activities.PastaActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HomeTheme" />
        <activity
            android:name=".activities.BilaoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HomeTheme" />
        <activity
            android:name=".activities.PancitActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HomeTheme" />
        <activity
            android:name=".activities.RiceActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HomeTheme" />
        <activity
            android:name=".activities.SoupActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HomeTheme" />
        <activity
            android:name=".activities.SeafoodsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HomeTheme" />
        <activity
            android:name=".activities.MealsGoodActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HomeTheme" />
        <activity
            android:name=".activities.ComboMealActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HomeTheme" />
        <activity
            android:name=".activities.RiceMealActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HomeTheme" />
        <activity
            android:name=".activities.PizzaListDetaill"
            android:screenOrientation="portrait"
            android:theme="@style/HomeTheme" />
        <activity
            android:name=".activities.PizzaActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HomeTheme" />
        <activity
            android:name=".activities.MenuActivty"
            android:screenOrientation="portrait"
            android:theme="@style/HomeTheme" />
        <activity
            android:name=".activities.ChangePasswordActivity"
            android:label="Change Password"
            android:parentActivityName=".activities.AccountActivity"
            android:theme="@style/ActionBarTheme" />
        <activity
            android:name=".activities.MyAddressActivity"
            android:label="Saved Address"
            android:parentActivityName=".activities.AccountActivity"
            android:theme="@style/ActionBarTheme" />
        <activity
            android:name=".activities.MyAccountActivity"
            android:label="My Account"
            android:parentActivityName=".activities.AccountActivity"
            android:theme="@style/ActionBarTheme" />
        <activity
            android:name=".activities.SettingsActivity"
            android:label="Settings"
            android:parentActivityName=".activities.AccountActivity"
            android:theme="@style/ActionBarTheme" />
        <activity
            android:name=".activities.ConfirmDeliveryAddress"
            android:label="Confirm Delivery Address"
            android:parentActivityName=".activities.ReservationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActionBarTheme" />
        <activity
            android:name=".activities.AccountActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HomeTheme" />
        <activity
            android:name=".activities.CartActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HomeTheme" />
        <activity
            android:name=".activities.ReservationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HomeTheme" />
        <activity
            android:name=".activities.home_activity"
            android:screenOrientation="portrait"
            android:theme="@style/HomeTheme" />
        <activity
            android:name=".activities.sign_up_activity"
            android:screenOrientation="portrait"
            android:theme="@style/MainTheme" />
        <activity
            android:name=".activities.SplashScreenActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>